* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #212d7c;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 24px;
}

.grid-container {
  display: grid;
}

.grid-2-1-1 {
  grid-template-columns: 2fr 1fr 1fr;
}

.centered-text {
  text-align: center;
}